@import "tailwindcss";

@font-face {
  font-family: "Santosi";
  src: url("./assets/font/Satoshi-Regular.otf") format("opentype");
}

/* add background color f8fafc in root */
:root {
  background-color: #f8fafc;
}

.scroll-container {
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* For WebKit browsers */
}

.radix-themes {
  --default-font-family: "Santosi", sans-serif;
  --heading-font-family: "Santosi", sans-serif;
  --code-font-family: "Santosi", sans-serif;
  --strong-font-family: "Santosi", sans-serif;
  --em-font-family: "Santosi", sans-serif;
  --quote-font-family: "Santosi", sans-serif;
  --list-font-family: "Santosi", sans-serif;
  --link-font-family: "Santosi", sans-serif;
  --caption-font-family: "Santosi", sans-serif;
  --default-font-size: 1rem;
  --heading-font-size: 1.5rem;
  --code-font-size: 1rem;
  --strong-font-size: 1rem;
  --em-font-size: 1rem;
  --quote-font-size: 1rem;
  --list-font-size: 1rem;
  --link-font-size: 1rem;
  --caption-font-size: 1rem;
  --default-line-height: 1.5;
  --heading-line-height: 1.5;
  --code-line-height: 1.5;
  --strong-line-height: 1.5;
  --em-line-height: 1.5;
  --quote-line-height: 1.5;
  --list-line-height: 1.5;
  --link-line-height: 1.5;
  --caption-line-height: 1.5;

  --colors-text: #333;
  --colors-background: #fff;
  --colors-primary: #6600ff;
  --colors-secondary: #000000;
  --colors-muted: #6c757d;
  --colors-accent: #007bff;
  --colors-success: #28a745;
  --colors-danger: #dc3545;
  --colors-warning: #ffc107;
  --colors-info: #17a2b8;
  --colors-light: #f8f9fa;
  --colors-dark: #343a40;
  --colors-link: #007bff;
  --colors-link-hover: #0056b3;
  --colors-border: #dee2e6;

  --font-sans: "Santosi", sans-serif;
}
/* Container for the pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Individual page items and navigation buttons */
.page-item {
  display: inline-block;
  margin: 0; /* Remove margin to eliminate gaps */
}

/* Active page item */
.page-item.active {
  font-weight: bold;
  color: #ffffff; /* Text color for active page */
  background-color: #6600ff; /* Background color for active page */
  /* Rounded corners for active page */
  /* Padding for active page */
}

/* Previous and Next buttons and page items */
.page-item a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #6600ff; /* Text color for non-active pages */
  border: 1px solid #ddd; /* Border for non-active pages */
  /* Rounded corners for non-active pages */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Hover effect for page items */
.page-item a:hover {
  background-color: #f8f9fa; /* Background color on hover */
  color: #0056b3; /* Text color on hover */
}

/* Active page item link */
.page-item.active a {
  color: #ffffff; /* Text color for active page */
  background-color: #6600ff; /* Background color for active page */
  border-color: #6600ff; /* Border color for active page */
}
